* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar {
    width: 100%;
}
.container {
    max-width: 80%;
    margin: auto;
}
.wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
}
.nav-links {
    flex-basis: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__link {
    list-style: none;
}
.link__link {
    color: black;
    text-decoration: none;
}
.link__link:hover {
    color: gray;
}
.nav__btn {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2.5px black;
    border-radius: 0.8rem;
    background-color: black;
    color: white;
    transition: 0.5s;
}
.nav__btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
.nav__icon {
    font-size: 1.5rem;
    display: none;
}

.main {

}
.main-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3.2rem;
}
.main-pic {
    padding: 3rem;
    display: flex;
    padding-left: 0;
}
.main-content {
    flex-basis: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main__img {
    max-width: 700px;
}
.main-content__title {
    margin-bottom: 2rem;
}
.main-content__text {
    margin-bottom: 4rem;
}
.main-content__btn {
    display: none;
}


@media only screen and (max-width: 640px) {
    .nav-links {
        position: fixed;
        top: 0;
        left: -288px;
        bottom: 0;
        min-width: 18rem;
        background-color: rgba(0, 0, 0, 0.8);
        flex-direction: column;
        transition: 0.5s all;
    }
    .nav__icon {
        display: block;
    }
    .container {
        max-width: 100%;
    }
    .link__link {
        color: white;
        text-shadow: 1px 1px 10px white;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 950px) {
    .nav__btn {
        display: none;
    }
    .main-content__btn {
        display: block;
    }
    .main__img {
        max-width: 450px;
    }
    .main-pic {
        padding: 0;
    }

}

@media only screen and (max-width: 1200px) {

}
